.main{
  background: #0D0D0D;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.new-task{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.new-task input{
  background: #262626;
  padding: 16px;
  border: none;
  border: 1px solid #0D0D0D;
  outline: 0;
  border-radius: 8px;
  color: white;
  width: 638px;
}
.new-task input:focus{
  border: 1px solid #5E60CE;
}
.new-task button{
  background: #1E6F9F;
  border-radius: 8px;
  color: white;
  padding: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tasks, .tasks-list, .new-task, .empty{
  width: 770px;
  @media (max-width: 768px) {
    width: 600px;
  }
  @media (max-width: 610px) {
    width: 500px;
  }
  @media (max-width: 510px) {
    width: 400px;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
}

.tasks{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.tasks-heading{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tasks-heading p{
  color: #4EA8DE;
  display: flex;
  gap: 10px;
}
.tasks-heading p:nth-child(2){
  color: #8284FA;
}
.tasks-heading p span{
  color: #D9D9D9;
  background-color: #333333;
  padding: 2px 8px;
  border-radius: 40%;
}

.empty{
  border-top: 1px solid #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #808080;
  padding: 0 !important;
}
.empty img{
  padding-top: 50px;
}
.empty p{
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
}
.empty span{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-top: -20px;
}
.tasks-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F2F2F2;
  background-color: #262626;
  border-radius: 8px;
  border: 1px solid #333333;
  padding: 0 20px;
}
.task img{
  cursor: pointer;
}
